h1{
    color: rgb(7, 7, 19);
    font-weight: 800;
    height: 400px;
    background-image: url(/home/rafi/Documents/personal-website/shapes/Group_33094_1.png);
    text-align: center;
    background-repeat: repeat;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}